<% experiments.each do |experiment| %>
  <% results = experiment.results %>

  <h2><%= experiment.name %></h2>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Participants</th>
        <th>Conversions</th>
        <th>Conversion Rate</th>
        <th>Prob Winning</th>
      </tr>
    </thead>
    <tbody>
      <% results.each do |variant, result| %>
        <tr>
          <td><%= variant %></td>
          <td><%= result[:participated] %></td>
          <td><%= result[:converted] %></td>
          <td>
            <% if result[:conversion_rate] %>
              <%= (100.0 * result[:conversion_rate]).round %>%</td>
            <% else %>
              -
            <% end %>
          <td><%= (100.0 * result[:prob_winning]).round %>%</td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
